<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="data/content.js" defer></script>
  <script src="scripts.js" defer></script>
</head>

<body>
  <div id="app" v-cloak>
    <h1>{{content.title}}</h1>
    <p>{{content.instruction}}</p>
    <div>
      <label v-for="(item, index) in content.categories">
        <input type="radio" name="category" :value="index" v-model="picked" @keyup.enter="generatePuzzle">{{item.id}}
      </label>
      <button id="createBtn" type="submit" @click="generatePuzzle">{{content.buttons.generate}}</button>
    </div>

    <div id="secondView" v-if="showSecondView">
      <h2 v-show="puzzle"> {{puzzle}}</h2>
      <h4><span v-for="guess in guesses">{{guess}} </span></h4>
      <div v-show="inputView">
        <input type="text" v-model="guessedLetter" @keyup.enter="guessEnter">
        <button type="submit" @click="guessLetter">{{content.buttons.guess}}</button>
        <button type="submit" @click="solvePuzzle">{{content.buttons.solve}}</button>
      </div>
      <h4 v-show="userMsg" :style="'color:' + msgColor">{{userMsg}}</h4>
    </div>
  </div>
</body>

</html>