<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="data/content.js" defer></script>
    <script src="scripts.js" defer></script>
</head>

<body>
    <div id="app" v-cloak>
        <h1> {{content.title}} </h1><br>
        <h3> {{content.instruction}} </h3>
        <label v-for="(item, index) in content.categories">
            <input type="radio" name="category" :value="index" v-model="pickedCategory"
                @keyup.enter="generatePuzzle">{{item.id}}
        </label>
        <button type="submit" @click="generatePuzzle">{{content.buttons.generate}} </button>

        <div v-if="secondView">
            <h2 v-if="puzzle">{{puzzle}}</h2>
            <h4><span v-for="guess in guesses">{{guess}} </span></h4>
            <div v-show="inputView">
                <label for="userInput"> {{content.submitLabel}}
                    <input id="userInput" type="text" v-model="userInput" @keyup.enter="guess">
                </label>
                <button type="submit" @click="guess">{{content.buttons.submit}}</button>
            </div>
            <h4 v-show="userMsg" :style="'color:' + msgColor">{{userMsg}}</h4>
        </div>
    </div>
</body>

</html>