.page {
    padding: 15px 15px;
}

ul li a {
    color:black !important;
}

.router-link-active {
    background-color: #c6c6c6 !important;
    color: black !important;
}

button a {
    color: black !important;
    text-decoration: none !important;
}

#app {
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gold {
    background-color: gold !important;
}

.green {
    background-color: rgba(151, 196, 130, 0.712) !important;
}

.disable {
    background-color: rgb(129, 127, 127) !important;
    pointer-events: none;
}

.padding-bottom-27{
    padding-bottom: 27px;
}